*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.card{
    margin: 40px auto 0;
    max-width: 1110px;
    width: 90%;
    min-height: auto;
    height: auto;

}

.testimonial-card{
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.name {
    margin-bottom: 4px;
    font-size: 15px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.status{
    display: block;
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    
}

.rating-text{
    color: hsl(300, 43%, 22%);
    font-size: 18px;   
    font-weight: 700;  
}

.quote {
  line-height: 1.4; 
  opacity: 0.9;
  font-size: 1.1em;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start; 
}

.rating-item{
    list-style: none;
    background-color: hsl(300, 24%, 96%);
    padding: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

@media (min-width: 900px) {
    body {
        background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
        background-position: top left, bottom right;
        background-size: contain; 
    }
  .card {
    display: flex;
    margin-top: 0;
    flex-wrap: wrap; 
    justify-content: space-between;
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    width: 100%;
    margin-bottom: 60px;
    text-align: left;
  }

  .text{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .heading {
    max-width: 450px;
    text-align: left;
  }

 
  .bottom-content {
    display: flex;
    flex-direction: row; 
    margin: 0;
    gap: 30px;
  }

  .ratings-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
    
    .testimonial-card:nth-child(2) {
  margin-top: 20px;
}

    .testimonial-card:nth-child(3) {
  margin-top: 40px;
}
    .rating-item:nth-child(2) {
        margin-left: 50px; 
    }

    .rating-item:nth-child(3) {
        margin-left: 100px;
    }
    .rating-item {
    flex-direction: row; 
    width: 450px;        
    padding: 20px 30px;
  }
   
  }


.star {
    display: flex;
    gap: 8px; 
}

.star-icon {
    width: 17px;
    height: 17px;
}

.top-content {
    text-align: center; 
    margin-bottom: 40px;
}

.heading{
    color: hsl(300, 43%, 22%);
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;   
    margin-bottom: 25px;
    font-weight: 700;
}

.description{
    color: hsl(300, 43%, 22%);
    font-size: 18px;
    line-height: 1.5;          
    margin-bottom: 30px;
}